@model ToDoItem


	<h2>Edit Task </h2>

<form asp-action="Edit">
	<input type="hidden" asp-for="Id" />
	<div class="form-group">
		<label for="Title">Task</label>
		<input asp-for="Title" class="form-control" required />
	</div>
	<button type="submit" class="btn btn-primary m-2">Save Changes</button>
	<a asp-action="Index" class="btn btn-secondary">Back to List</a>
</form>


